<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
		<remove name="Imported Rule 1"/>
        <rule name="Imported Rule 1" stopProcessing="true">
          <match url="^.*$" />
          <conditions logicalGrouping="MatchAny">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" pattern="" ignoreCase="false" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" pattern="" ignoreCase="false" />
          </conditions>
          <action type="None" />
        </rule>
		<remove name="Imported Rule 2"/>
        <rule name="Imported Rule 2" stopProcessing="true">
			<match url="^.*$" />
			<action type="Rewrite" url="index.php" />
        </rule>
      </rules>
    </rewrite>
	<security>
		<requestFiltering allowDoubleEscaping="true">
			<requestLimits maxAllowedContentLength="1073741824" />
		</requestFiltering>
	</security>
  </system.webServer>
</configuration>